<div>
<h1>CAPTION IT!</h1>

<img src="<%= @comic.image_url %>" alt="Image did not load", height="200">


<%= form_with model: @comic do |f| %>
  <%# f.label :image_url %>
  <%# f.text_field :image_url %> <br><br>
  <%= f.label :tags %> <br>
  <%= f.collection_check_boxes :topic_ids, @topics, :id, :label  %><br><br>
  <%= f.label "New tag:" %>
  <%= f.text_field :topic_name %><br><br>
  <%= f.submit "Update Tags" %>
<% end %>

<%= form_with url: "/comics/#{@comic.id}", method: :delete do |f|  %>
    <%= f.submit "Delete Image" %>
  <% end %>

</div>
