<div>

<h1>CAPTION IT!</h1>


<h2>All Images: </h2>

<%# @comics.each do |comic| %>
<% @comics.each do |comic| %>
  <a href="/comics/<%= comic.id %>">
    <img src="<%= comic.image_url %>" alt="Image did not load." height="100">
  </a>
<% end %>

</div>


<!-- 
<br>
<br>
<button>
  <a href="/comics/new">
    <div>Add New Image</div>
  </a>
</button>
<br>
<button>
  <a href="/comics/<%= @random_comic.id %>">
    <div>Shuffle</div>
  </a>
</button>
<br>
<button>
  <a href="/topics">
    <div>Categories</div>
  </a>
</button>
<br>
<button>
  <a href="/">
    <div>Home</div>
  </a>
</button>
<br>
<button>
  <a href="/users">
    <div>Users</div>
  </a>
</button>
<%= form_with url: "/logout", method: "delete" do |f| %>
  <%= f.submit "logout" %>
<% end %>

-->
