<div>

<h1>CAPTION IT!</h1>


<%= form_with model: @comic do |f| %>
  <%= f.label "Link to Image:" %>
  <%= f.text_field :image_url %> <br><br>
  <%= f.label "Tags:" %> <br>
  <%= f.collection_check_boxes :topic_ids, @topics, :id, :label %><br>
  <%= f.label "New tag:" %>
  <%= f.text_field :topic_name %><br><br>
  <%= f.submit  %>
<% end %>

</div>

<!-- 

<button>
<a href="/">
<div>Back Home </div>
</a>
</button>

-->