<h1>CAPTION IT!</h1>


<img src= <%= @comic.image_url %> alt="Image not loaded" height="200"><br/>

<label>Total knee slaps: <%= @comic.total_likes %></label><br>
<label>Uploaded by: <%= @user.username %> </label><br>
<label>Tags: </label>
<% @topics.each do |topic| %>
  <a href="/topics/<%= topic.id %>">
    <%= topic.label %>
  </a>
<% end %>

<h4>Captions: </h4>

<% @comic.funniest_caption_order.each do |caption| %>
  <%= caption.text %> -<%=User.find(caption.user_id).username%> 
    <%#= link_to "#{caption.likes} knee slaps", controller: "captions", action: "like", name: "caption_id", caption_id: caption.id %>
    <%= form_with url:"/captions/#{caption.id}/like", method: "patch" do |f| %>
      <%= f.submit "#{caption.likes} knee slaps" %>
    <% end %> <br>
<% end %>

<br>
<br>
<button>
  <a href="/comics/<%= @comic.id %>/edit">
    <div>Edit Tags</div>
  </a>
</button>
<br>
<button>
  <a href="/comics">
    <div>All Images</div>
  </a>
</button>
<br>
<button>
  <a href="/topics">
    <div>All Categories</div>
  </a>
</button>
<br>
<button>
  <a href="/comics/<%= @random_comic.id %>">
    <div>Shuffle</div>
  </a>
</button>
<br>
<button>
  <a href="/">
    <div>Home</div>
  </a>
</button>
<%= form_with model: @movie, method: :delete do |f|  %>
  <%= f.submit "Delete Image" %>
<% end %>
