<div>

<h1>CAPTION IT!</h1>


<img src= <%= @comic.image_url %> alt="Image not loaded" height="200"><br/>

<label>Total Knee Slaps: <%= @comic.total_likes %></label><br>
<label>Uploaded by: <%= link_to "#{@user.username}", user_path(@user) %> </label><br>
<label>Tags: </label>
<% @topics.each do |topic| %>
  <a href="/topics/<%= topic.id %>">
    <%= topic.label %>
  </a>
<% end %>

<h4>Captions: </h4>


<% @comic.funniest_caption_order.each do |caption| %>
  <%= caption.text %> -<%= link_to "#{User.find(caption.user_id).username}", user_path(caption.user_id)%> <br>
     <%= form_with url:"/captions/#{caption.id}/like", class: 'inline_form', method: "patch" do |f| %>
      <%= f.hidden_field :page, :value => "/comics/#{@comic.id}" %>
      <%= f.submit "#{caption.likes} Knee Slaps" %> 
    <% end %> 
    <% if caption.user_id == session[:user_id]%>
      <button> <%= link_to "Edit", edit_caption_path(caption) %> </button>
    <% end %> <br><br>
<% end %> <br><br>

<%= form_with url:"/captions", method: "post"  do |f| %>
  <%= f.label :" "%>
  <%= f.text_field :text, class: 'text_field' %>
  <%#= f.hidden_field :likes, :value => 0 %>
  <%= f.hidden_field :comic_id, :value => @comic.id %>
  <%= f.submit "Add Caption" %>
<% end %> <br><br>



<% if @comic.user_id == session[:user_id] %>
  <button>
    <a href="/comics/<%= @comic.id %>/edit"> Edit Image</a>
  </button>
<% end %>



</div>

<!-- 


<br>
<br>

<br>
<button>
  <a href="/comics">
    <div>All Images</div>
  </a>
</button>
<br>
<button>
  <a href="/topics">
    <div>All Categories</div>
  </a>
</button>
<br>
<button>
  <a href="/comics/<%= @random_comic.id %>">
    <div>Shuffle</div>
  </a>
</button>
<br>
<button>
  <a href="/">
    <div>Home</div>
  </a>
</button>

<%= form_with url: "/logout", method: "delete" do |f| %>
  <%= f.submit "logout" %>
<% end %>

-->




</div>
