<!DOCTYPE html>
<html>
  <head>
    <title>CaptionIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all' %>
  </head>
  <body>
    <!-- if logged out limit some of these links -->
    <ul>
      <li> <%= link_to "Home", "/" %> </li>
      <li> <%= link_to "Profile", "/users/#{session[:user_id]}" %> </li>
      <li> <%= link_to "Add Image", "/comics/new" %> </li>
      <li> <%= link_to "Shuffle Image", "/comics/#{Comic.all.sample.id}" %> </li>
      <li> <%= link_to "Images","/comics" %> </li>
      <li> <%= link_to "Categories", "/topics"%> </li>
      <li> <%= link_to "Users", "/users" %> </li>
      <li> <%= link_to "Logout", "/logout" %> </li> <!-- this is not restful though -->
      <li> <%#= form_with url: "/logout", method: "delete" do |f| %> 
        <%#= f.submit "logout" %>
      <%# end %> </li>
    </ul>
    <%= yield %>
  </body>
</html>

